html{
    font-size: 10px;
    background-color: rgb(199, 250, 250);
}
body{
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border : 5px solid black;
}
h1{
    font-size: 40px;
    text-align: center;

    margin: 0;
    padding: 20px 0;
    color: royalblue;
    text-shadow: 3px 3px 1px black;
}
p,
li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img{
    display: block;
    margin: 0 auto;
}
table{
    border-collapse: collapse;
    border: 1px solid rgb(200, 200, 200);
    width: 100%;
}
th,
td{
    border: 1px solid rgb(200, 200, 200);
    text-align: center;
    padding: 5px 10px;
}

th{
    background-color: rgb(199, 250, 250);
}

article{
    margin: 5px;
    padding-top: 10px;
}
.big{
    font-size: 25px;
}